/* ==================== */
/* FONT FACE DEFINITIONS */
/* ==================== */
@font-face {
    font-family: 'serpent';
    src: url('./assets/fonts/serpent.ttf');
}

@font-face {
    font-family: 'serpentdeco';
    src: url('./assets/fonts/serpentdeco.ttf');
}

@font-face {
    font-family: 'astonpoliz';
    src: url('./assets/fonts/astonpoliz.ttf');
}


/* ============== */
/* GLOBAL STYLES */
/* ============== */
:root {
    --midnight: #0A022D;
    --pasteldark: #16404B;
    --cyan: #4DADAC;
    --classicblue: #548BFC;
    --sunlight: #E9AE63;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'astonpoliz', Arial, sans-serif;
}

body {
    height: 100dvh;
    background-color: var(--midnight);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.hidden {
    display: none !important;
}


/* ============== */
/* MAIN STRUCTURES */
/* ============== */
#main {
    width: 100%;
    height: 140%;
    background-image: url('./assets/images/blank.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#end-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 140%;
    background-image: url('./assets/images/blank_end.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    text-align: center;
    font-size: 2em;
}

#end-screen h2 {
    font-family: 'serpent';
    font-size: 0.9rem;
    color: var(--cyan);
    position: absolute;
    top: 32.5%;
}

#end-screen h3 {
    font-family: 'serpent';
    font-size: 0.6rem;
    color: var(--cyan);
    position: absolute;
    top: 37.5%;
}


/* ============== */
/* TYPOGRAPHY */
/* ============== */
h1 {
    font-family: 'serpent', Arial, sans-serif;
    color: #000000;
    z-index: 100;
}

h2 {
    font-family: 'astonpoliz', Arial, sans-serif;
    color: #000000;
    z-index: 100;
}

.text {
    color: #ffffff;
    font-size: 0.8rem;
}


/* ============== */
/* GAME CONTAINERS */
/* ============== */
.containers {
    width: 40%;
    height: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--pasteldark);
    border: 5px solid var(--cyan);
    border-radius: 10px;
    box-shadow: 0 0 5px 2.5px var(--cyan);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-1 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    border-radius: 10px;
    overflow: hidden;
}

.items {
    width: 100%;
    height: 100%;
    outline: 0.5px solid #ffffff;
    border-radius: 0;
}

.info {
    background-color: var(--pasteldark);
    color: #ffffff;
    width: 25%;
    height: auto;
    min-height: 75%;
    position: absolute;
    top: 50%;
    right: -50%;
    transform: translate(-45%, -50%);
    border: 2.5px solid var(--cyan);
    border-radius: 10px;
    box-shadow: 0 0 5px 2.5px var(--cyan);
    padding: 10px;
    font-size: 15px;
}


/* ============== */
/* CODE DISPLAYS */
/* ============== */
#code-display {
    color: var(--classicblue);
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    font-family: 'astonpoliz', Arial, sans-serif;
}

#code-display .corners {
    position: absolute;
    width: 10px;
    height: 10px;
    border: var(--classicblue) solid;
}

#code-display .corners.top-left {
    top: -15px;
    left: -10px;
    border-width: 2.5px 0 0 2.5px;
}

#code-display .corners.top-right {
    top: -10px;
    right: -10px;
    border-width: 2.5px 2.5px 0 0;
}

#code-display .corners.bottom-left {
    bottom: -10px;
    left: -10px;
    border-width: 0 0 2.5px 2.5px;
}

#code-display .corners.bottom-right {
    bottom: -10px;
    right: -10px;
    border-width: 0 2.5px 2.5px 0;
}

#final {
    color: var(--classicblue);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
    font-family: 'astonpoliz', Arial, sans-serif;
}

#final .corners {
    position: absolute;
    width: 10px;
    height: 10px;
    border: var(--classicblue) solid;
}

#final .corners.top-left {
    top: -15px;
    left: -10px;
    border-width: 2.5px 0 0 2.5px;
}

#final .corners.top-right {
    top: -10px;
    right: -10px;
    border-width: 2.5px 2.5px 0 0;
}

#final .corners.bottom-left {
    bottom: -10px;
    left: -10px;
    border-width: 0 0 2.5px 2.5px;
}

#final .corners.bottom-right {
    bottom: -10px;
    right: -10px;
    border-width: 0 2.5px 2.5px 0;
}

#final-code {
    letter-spacing: 0.5rem;
}


/* ============== */
/* PROGRESS BARS */
/* ============== */
.progress,
.progress-2 {
    width: 25%;
    height: 70px;
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('./assets/images/border.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.progress-bar-container {
    width: 60%;
    height: 0.75rem;
    background-color: var(--midnight);
    border: 2.5px solid var(--cyan);
    box-shadow: 0 0 5px 2.5px var(--cyan);
    overflow: hidden;
    margin-top: 0.5rem;
    margin-bottom: 10px;
}

.progress-bar {
    height: 100%;
    width: 0%;
    background-color: var(--sunlight);
    transition: width 0.3s ease;
}

.progress-bar-2 {
    height: 100%;
    width: 0%;
    background-color: var(--sunlight);
    transition: width 0.3s ease;
}


/* ============== */
/* GAME ELEMENTS */
/* ============== */
.red-square {
    width: 50px;
    height: 50px;
    position: absolute;
    background-image: url('./assets/images/red_folder.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(0px 0px 15px rgba(255, 0, 0, 0.5));
}

.green-square {
    width: 50px;
    height: 50px;
    position: absolute;
    background-image: url('./assets/images/green_folder.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(0px 0px 15px rgba(0, 255, 0, 0.5));
}

.sonar {
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    border: 5px solid var(--cyan);
    justify-self: center;
    overflow: hidden;
    position: relative;
}

.radar-bar {
    position: absolute;
    width: 50%;
    height: 2px;
    background: linear-gradient(to right, var(--cyan), var(--pasteldark));
    top: 50%;
    left: 50%;
    transform-origin: left center;
    animation: rotate 10s linear infinite;
}

.point {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.5s;
}

.point.selected {
    opacity: 1 !important;
}

.point.clicked {
    background-color: gray !important;
    opacity: 1 !important;
}

.grid-line {
    position: absolute;
    background-color: var(--cyan);
}

.grid-line.horizontal {
    width: 100%;
    height: 1px;
}

.grid-line.vertical {
    width: 1px;
    height: 100%;
}


/* ============== */
/* GAME GRIDS */
/* ============== */
.grid {
    display: grid;
    gap: 5px;
    margin: 20px auto;
    width: 300px;
    height: 300px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.cell:hover {
    background-color: #e0e0e0;
}

.memory-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin: 0 auto;
    width: fit-content;
    justify-content: center;
    align-items: center;
}

.card {
    width: 90px;
    height: 90px;
    background-color: #ccc;
    border: 1px solid #999;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.card.flipped {
    cursor: default;
    transform: scale(1.05);
}


/* ============== */
/* ANIMATIONS */
/* ============== */
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes bounce {
    0% {
        transform: translateY(-90%);
    }
    50% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-90%);
    }
}


/* ============== */
/* CONFIRMATION BUTTON */
/* ============== */
.confirmation-section {
    width: 100%;
    height: fit-content;
    position: absolute;
    top: 110%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 75px;
}

.confirmation-message {
    font-size: 1.2rem;
    font-family: 'astonpoliz', Arial, sans-serif;
    color: #ffffff;
    margin-top: -10%;
    text-align: center;
    text-wrap: nowrap;
}

.confirm-button {
    width: 100px;
    height: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    transition: transform 0.1s ease;
}                   

.confirm-button:active {
    transform: scale(0.95);
}

.start-button {
    width: 100px;
    height: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    transition: transform 0.1s ease;
}

.start-button:active {
    transform: scale(0.95);
}

.transition-button {
    background-repeat: no-repeat;
    position: relative;
    width: 200px;
    margin: 0 auto;
    cursor: pointer;
    display: block;
    overflow: hidden;
}

.confirm-button {
    background-repeat: no-repeat;
    position: relative;
    width: 200px;
    margin: 0 auto;
    cursor: pointer;
    display: block;
    overflow: hidden;
}

.button-image {
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 1;
}

.confirm-image {
    position: absolute;
    top: -15px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 2;
    transition: transform 0.1s ease;
}

.confirm-button:active .confirm-image {
    transform: translateY(10px);
}

#start-button {
    position: relative;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    cursor: pointer;
    display: block;
    overflow: hidden;
}

#start-button .button-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 1;
}

#start-button .confirm-image {
    position: absolute;
    top: -15px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 2;
    transition: transform 0.1s ease;
}

#start-button:active .confirm-image {
    transform: translateY(10px);
}

#continue-button {
    position: relative;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    cursor: pointer;
    display: block;
    overflow: hidden;
}

#continue-button .button-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 1;
}

#continue-button .confirm-image {
    position: absolute;
    top: -15px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 2;
    transition: transform 0.1s ease;
}

#continue-button:active .confirm-image {
    transform: translateY(10px);
}

/* ============== */
/* START & TRANSITION SCREENS */
/* ============== */
.start-screen,
.transition-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 140%;
  background-color: #000;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background-image: url('./assets/images/blank_info.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.start-screen h2 {
  font-family: 'serpent';
  color: var(--cyan);
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-shadow: 0 0 10px var(--cyan);
}

.start-screen p,
.transition-message {
  font-family: 'astonpoliz';
  color: var(--cyan);
  width: 50%;
  text-align: center;
  font-size: 1.2rem;
  margin: 2rem 0;
}

.transition-title {
    font-family: 'serpent';
    color: var(--cyan);
    width: 50%;
    text-align: center;
    font-size: 1.2rem;
    margin: 2rem 0;
  }
  