* {
  margin: 0;
  padding: 0;
}

.table-iframe {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  width: 100%;
}

.table-iframe iframe {
  width: 100%;
  height: 300px;
}

iframe {
  width: 100%;
}
