* {
    font-family: 'Serpent', sans-serif;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Serpent';
    src: url('./FONTS/serpent.ttf');
}

body {
    background-image: url('./IMG/bg_img.svg');
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    width: 95%;
    height: 95%;
    background-image: url('./IMG/bg_letters_img.svg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#screen {
    display: flex;
    justify-content: center;
    padding: 12%;
    gap: 10%;
    position: relative;
    transform: translateY(-70px);
}

.arrow {
    cursor: pointer;
    font-size: 1.2rem;
    user-select: none;
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30%;
}

.up {
    margin-bottom: 2%;
}

.up:active {
    transform: translate(0px, 8px);
    fill: white;
}

.down {
    margin-top: 2%;
}

.down:active {
    transform: translate(0px, -8px);
    fill: white;
}

.digit {
    width: 125px;
    height: 125%;
    font-size: 2rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    margin-left: 10px;
    border: solid 5px #387995;
}

#validate {

    display: flex;
    /* justify-content: center;
    align-items: center; */
    flex-direction: column;

    position: relative;

}

#validate img:first-child {
    margin-left: 20%;
    width: 60%;
    z-index: 10;
    cursor: pointer;
}

#validate img:active {
    transform: translate(0px, 10px);
}

#validate p {
    z-index: 20;
    position: absolute;
    text-align: center;
    cursor: pointer;
    width: 100%;

    user-select: none;
}

#backButton {
    margin-left: 20%;
    width: 60%;
    position: absolute;
    bottom: -30%;
    z-index: 1;
}

#screenFinish {
    height: 100%;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: Serpent;
    /* display: block; */
    display: none;
 
}
 
#backgroundFinish {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
#backgroundFinish img {
    /* width: 100%; */
    /* height: 100%; */
    object-fit: cover;
    max-width: 200%;
    max-height: 200%;
}
 
#screenFinish p {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
 