* {
    font-family: 'Minecraftia', sans-serif;
    box-sizing: border-box;
}

:root {
    --primary: #e07902;
    --secondary: #347590;
    --tertiary: #f4a854;
}

h1 {
    font-size: 2.5rem;
    margin-top: 15%;
    margin-bottom: 5%;
    color: #fff;
}
body {
    background-image: url('./IMG/bg_img.svg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkCircle {
    position: absolute;
    top: 10%;
    right: 5%;
    width: 100%;
    height: 100%;
    max-width: 163px;
    max-height: 163px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container {
    width: 90vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.screen {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-content: center;
    background-color: black;
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
    height: 100%;
    border: 5px solid var(--secondary);
    gap: 10px;
    position: relative;
    box-shadow: 0px 0px 40px 5px var(--secondary);
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15%;
    position: relative;
    gap: 30px;
}

.column:not(:last-child)::after {
    content: "";
    position: absolute;
    right: 0;
    height: 110%;
    width: 3px;
    background-color: var(--secondary);
}

.arrow {
    cursor: pointer;
    font-size: 1.2rem;
    user-select: none;
    color: #fff;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.digit {
    width: 60%;
    height: 100%;
    font-size: 5rem;
    color: #ff0;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    margin-left: 10px;
}

.validate {
    background-color:#e07902;
    width:25%;
    height: 20%;
    cursor: pointer;
    font-size: 1.2rem;
    box-shadow:
        0px 6px 0px 0px rgb(101, 101, 101),
        0px 6px 0px 1px black,
        inset 0px 0px 10px rgba(255, 255, 255, 0.5);

    border-radius: 5px;
    border: 1px solid black;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
    margin-top: 5%;
}

.validate:active {
    transform: translate(0px, 8px);
    box-shadow: 0px 0px 2px 2px var(--tertiary);
}
