@import "tailwindcss";

@font-face {
  font-family: "Aston";
  src: url("../fonts/astonpoliz/Astonpoliz.ttf");
}

:root {
  --background: #ffffff;

  --water-blue: #007bff;

  --font-aston: "Aston", sans-serif;

  --h1: clamp(48px, 3.33vw, 64px);
  --h2: clamp(40px, 2.5vw, 48px);
  --h3: clamp(24px, 2.083vw, 40px);
  --h4: clamp(14px, 1.25vw, 24px);

  --margin-x: 120px;
  --margin-y: 20px;

  --rounded-20: 20px;
}

.hover_animation {
  transition: all 150ms ease-in-out;
}

@theme inline {
  --color-background: var(--background);

  --color-water-blue: var(--water-blue);

  --font-aston: var(--font-aston);

  --text-h1: var(--h1);
  --text-h2: var(--h2);
  --text-h3: var(--h3);

  --spacing-h1: calc(var(--h1) + 5px);
  --spacing-h2: calc(var(--h2) + 5px);
  --spacing-h3: calc(var(--h3) + 5px);

  --radius-20: var(--rounded-20);
}

body {
  background: var(--background);
}
