@font-face {
    font-family: 'Astonpoliz';
    src: url('../assets/Font/Astonpoliz.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #0A022D;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-image: url("../assets/images/AlerteCadre2.svg");
    background-repeat: no-repeat;
    background-position: center;
    overflow-y: hidden;
    overflow-x: hidden;
    height: 100vh;
}

#title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Astonpoliz';
    font-size: 2.3em;
    margin-top: 230px;
    color: #F00E13;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-top: 40px;
    gap: 280px;
}

img{
    width: 400px;
    height: 400px;
    cursor: pointer;
}

#EmergencyButton{
    animation: zoom-in-zoom-out 2s ease infinite;
}

@keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.2, 1.2);
    }
    100% {
      transform: scale(1, 1);
    }
  }